<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First ejs</title>
  </head>
  <body>
    <h1>Welcome to Tempescope first.ejs</h1><br>
    <h1>Count:<%= count%></h1>
  </body>
</html>
